*~
*.swp
*.swo
*.out
*.err
*.bak
.DS_Store
*.log

playground/*

# benchmark
tools/benchmark/auto-report-programs/*.js
tools/benchmark/TODO
tools/benchmark/sandbox*
tools/benchmark/nodelint*

# docs
docs/written/compiled
docs/written/*.html
docs/written/*/compiled
docs/written/scribble*
docs/written/*.css
docs/compiled/
docs/generated/
docs/skeleton/
docs/test-harness/
docs/written/test-harness/
docs/*.arr.js

build/docs
build/phase1
build/phase2
build/phase3
build/release
deps/closure-compiler
node_modules/
*#
pyret.plt
tests/pyret/*.arr.js
tests/pyret/tests/*.arr.js
tests/pyret/regression/*.arr.js
tests/pyret/bootstrap-tests/*.arr.js
