*~
*.swp
*.swo
*.out
*.err
*.bak

# docs
docs/written/*.html
docs/written/*/compiled
docs/written/scribble*
docs/written/*.css
docs/compiled/
docs/generated/

build/phase1
build/phase2
build/phase3
build/release
deps/closure-compiler
node_modules/
*#
pyret.plt
tests/pyret/tests/*.arr.js
tests/pyret/bootstrap-tests/*.arr.js
