*compiled/
*~
*.swp
*.swo
*.out
*.err
docs/*.html
docs/*.css
docs/*.js
docs/lang/*
src/lang/pyret-lib/moorings.rkt
js/test-runner/tests.js
src/lang/pyret-lib/sets.rkt
src/lang/pyret-lib/array.rkt
js/test-runner/tests.js
js/grammar.js
js/pyret-parser.js
js/htdocs/moorings.js
js/generated-tests
js/compiled
js/closure-compiler
*#
pyret.plt
pyret.org/pyret-frog/*.html
pyret.org/pyret-frog/sitemap.txt
pyret.org/pyret-frog/blog/
pyret.org/pyret-frog/crew/
pyret.org/pyret-frog/discuss/
pyret.org/pyret-frog/docs/
pyret.org/pyret-frog/feeds/
pyret.org/pyret-frog/getting-started/
pyret.org/pyret-frog/tags/
pyret.org/pyret-frog/tour/

