env:
  secure: "DKjByY1SB6nMWJWn0z+xXsuABUXerLubdfQzpMAZpq2+TgUwdg2nNkp3s3ydKlKRGSpckBNSAN/0wlcXjduBsm+2PXz5YA5IaZY8r2orFQwMeHyarhIciGuG6zBiPVeWTtOTrR/esUbLULptqV0fwHVvdXbPB38CYVJEdmHgPyM="
git:
  submodules: false
language: node_js
node_js:
- 12
install:
- npm update
- make install
- npm install -g heroku
before_script:
- make
script:
# - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then heroku run:detached --size=performance-m --app pyret-pitometer node bench/run.js --commit $TRAVIS_COMMIT --repo https://github.com/brownplt/pyret-lang/; fi
- make all-pyret-test
notifications:
  slack:
    secure: kHQvp3HZL5GRY58XrGdRhZKtUvGrxgsAKMawYYNO4PA9NXlr5EYwbYBCrud1DNJs6kdEPK48ItSnsWXKoDZTS+g96b56t8vjHl2d98EN4WwvORj3g9NNiZ0SESL2LUwFa5vCxlnTbxfCQcfNpStGrwYZZ9DnIGTDuLO2EqZxvP0=
after_failure:
  - sleep 10
  - echo "--actual end of .travis script--"
