env:
  secure: HuMEH1MDVt0br36tMjkcpC520OIA+nWV5fACPSxUeRfB86lc+n3WDbsC1qC386QOv5hKREcREGTIGF591GY04ApUmQlWNJymk2JjAkVKO2Dp3/jtBeFPXDbQ+sOAkfgcTgoC2yRWOfAAj1nJi1hKw0sZAwLP2n3KMjGSCYN8zGw=
  global:
  - BROWSER_BINARY=/usr/bin/google-chrome
  - BROWSER="chrome"
  - SHOW_BROWSER="false"
  - BASE_URL="http://localhost:8080"
git:
  submodules: false
language: node_js
node_js:
- 10.16.3
install:
- npm ci
before_script:
- npm run build
- node_modules/.bin/http-server build/worker -p 8080 &
- sleep 5
script:
- npm run all-tests
notifications:
  slack:
    secure: kHQvp3HZL5GRY58XrGdRhZKtUvGrxgsAKMawYYNO4PA9NXlr5EYwbYBCrud1DNJs6kdEPK48ItSnsWXKoDZTS+g96b56t8vjHl2d98EN4WwvORj3g9NNiZ0SESL2LUwFa5vCxlnTbxfCQcfNpStGrwYZZ9DnIGTDuLO2EqZxvP0=
addons:
  chrome: stable
after_failure:
- sleep 10
- echo "--actual end of .travis script--"
before_deploy:
- cd ide
- npm install
- npm run build
deploy:
  provider: s3
  access_key_id: "AKIAUCA3RRQKLUSZTBS5"
  bucket: pyret-anchor
  local-dir: build
  upload-dir: anchor
  skip_cleanup: true
  detect_encoding: true
  on:
    repo: brownplt/pyret-lang
    branch: anchor
  secret_access_key:
    secure: treaayJygr/gh3flJ7kMSNNMkGkqqUefme19xMEXoR8UUJIYT+OT1YCH/YDJPm0sa+nHJL5gakxqmAFv2RWF1rHw9c7clAytJ1tu5Ed0arhFoPTC2lHKCXSYggQTEfRR2IigBy3hiVDLF2mPP5eZ0ByygN7toOuqg0WVDuKYJJs=

