git:
  submodules: false
before_install:
- sudo apt-get update
- sudo apt-get install parallel
- export PATH=$PATH:~/bin/
language: node_js
node_js:
- 6.2.1
install:
- make install
before_script: make -j3
script:
- make all-pyret-test
notifications:
  slack:
    secure: kHQvp3HZL5GRY58XrGdRhZKtUvGrxgsAKMawYYNO4PA9NXlr5EYwbYBCrud1DNJs6kdEPK48ItSnsWXKoDZTS+g96b56t8vjHl2d98EN4WwvORj3g9NNiZ0SESL2LUwFa5vCxlnTbxfCQcfNpStGrwYZZ9DnIGTDuLO2EqZxvP0=
