/* Colors derived from nothing resembling good taste */

body { background-color: grey; color: white; }

.tocview { background-color: black; }
.tocsub { background-color: black; }

.tocviewlink { color: black; }
.tocviewselflink { color: black; }

.plainlink { color: #7CAC96; }
.refcolumn { color: black; }

.navsettop { background-color: black; }
.navsetbottom { background-color: black; }

a:link, a:hover, a:active { color: #FDF94A; }
a:visited { color: white; }
