.chatitor-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 0fr;
}

.chat .CodeMirror {
  /* TODO(luna): !important because they're getting overridden by page styles, as
   * they should be, but why are there page styles, and how can i override
   * correctly? */
  display: inline-block;
  background-color: #d4f1ff !important;
  min-width: 0em;
  border-radius: 0.9em !important;
  border-bottom-left-radius: 0 !important;
  border: 1px solid transparent !important;
  padding: 0.7em;
  cursor: pointer !important;
  transition: border-radius 0.1s, border-bottom-left-radius 0.1s, min-width 0.1s -0.05s !important;
}
.chat .CodeMirror-lines {
  cursor: pointer;
}
.chat .CodeMirror-focused {
  background-color: #f2fbff !important;
  min-width: 30em;
  border-radius: 0.5em !important;
  border-bottom-left-radius: 0.5em;
  border: 1px solid black !important;
}
.chat .CodeMirror-focused .CodeMirror-lines {
  cursor: text;
}

.failure-cmcode .CodeMirror {
  background-color: transparent !important;
}

.new-expr {
  grid-row: 2;
}
.new-expr .CodeMirror {
  background-color: white !important;
  border-radius: 1em !important;
  border: 1px solid black !important;
  /* This is a weird quirk of CodeMirror styles which set this to a value which
   * breaks non-inline positioned elements, but this !important override fixes it */
  min-height: 0 !important;
  padding: 1em;
  width: 45em;
  margin: 0 auto;
  margin-bottom: 1em;
  transition: border-radius 0.1s;
}
.new-expr .CodeMirror-focused {
  border-radius: 0.5em !important;
}

.chatitor-rhs {
  padding-left: 1em;
  border-radius: 0.5em;
  background-color: #eee;
  border-bottom-right-radius: 0;
  margin: 0;
  padding: 0.7em;
  float: right;
  overflow: auto;
  max-width: 90%;
}
.chatitor-rhs.pending {
  background-color: transparent;
  border: 1px dotted black;
}

.chunks-rhs {
  padding-left: 1em;
  /* For positioning jitter */
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.chunks-rhs-selected {
  background: #d7d4f0;
  border-top: 2px solid #c8c8c8;
  border-bottom: 2px solid #c8c8c8;
}

.list-container {
  width: 35em;
}

.menu-button:active {
  background: darkgrey !important;
}