.CodeMirror, .inlineExample { line-height: 1.5; border: 1px solid black; background: #f8f8f8; color: #eee; }
.CodeMirror div.CodeMirror-cursor { border-left: 1px solid #bbb; }
.cm-s-default.CodeMirror { color: #111; }
.cm-s-default .cm-comment { color: #39f; }
.cm-s-default .cm-builtin { color: #555; }
.cm-s-default .cm-function-name { color: #111; }
.cm-s-default .cm-variable { color: #111; }
.cm-s-default .cm-keyword { color: #636; }
.cm-s-default .cm-string { color: #c30; }
.cm-s-default .cm-type { color: #339; }
.cptteach-fixed { line-height: 1.5; background: #ddd; }

div.CodeMirror span.CodeMirror-matchingbracket {
    font-weight: bold;
    color: #606;
}

.replTextOutput .CodeMirror {
  border: none;
  background-color: transparent;
  margin-top: -0.5em;
}

#output {
  font-family : monospace;
}

.inlineExample {
    font-family: monospace;
    padding: 0 2px;
}

/* from http://codemirror.net/demo/resize.html */
.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: scroll;
  overflow-x: auto;
  height: auto;
}


.replMain .CodeMirror {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.replMain .CodeMirror-scroll {
  height: 100%;
}

.repl {
  padding-left: 0.5em;
  height: 100%;
  overflow-y: scroll;
}
.check {
  font-family: monospace;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.check-success {
  background-color: #cfc;
}

.check-failure {
  background-color: #fcc;
}

.check-block {
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
}

.check-block-failed {
  background-color: #fcc;
}

.check-block-success {
  background-color: #cfc;
}

.repl-output {
  padding: 0;
  margin: 0;
}

.steppedGutter {
    width: 25px;
}


.progressContainer {
    width: 90%;
    height: 2em;
    padding: 5px;
    text-align: center;
}

.progressStep {
    display: inline-block;
    vertical-align: top;
    height: 10px;
    border: 1px solid black;
}

.progressStep.done {
    background-color: green;
}

.progressDone {
    color: green;
    font-style: italic;
    text-align: center;
    width: 50%;
    margin: auto;
}

.steppedGutterPart {
    width: 25px;
    padding-right: 3px;
}

.instructionsWidget {
    background-color: #fcf;
    border: 1px dotted #c0c;
    color: #111;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    margin: 5px 5px 5px auto;
}

.instructionsWidget.hidden {
    width: 90px;
}

.instructionsWidget .instructionsContent {
    font-family: serif;
}

.instructionsWidget .toggleInstructions {
    color: #666;
    float: right;
    font-size: 0.8em;
    padding: 3px;
}

.repl-prompt {
  width: 90%;
  display: inline-block;
}

.repl-echo {
  width: 90%;
  display: inline-block;
}

body {
  margin: 0;
  padding: 0;
}

.replMain {
  position: absolute;
  z-index: 7000;
  left: 0;
  width: 50%;
  top:0;
  height: 100%;
  max-height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
}

.replContainer {
  position: absolute;
  z-index: 7000;
  right: 0;
  width: 50%;
  top:0;
  height: 100%;
  max-height: 100%;
  padding-top: 80px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin:0;
}

.replContainer.maximized {
    width: 90%;
    z-index: 9000;
}

.replContainer.minimized {
    margin-right: -35%;
}

.blueButton {
    font-family: sans-serif;
/*  darker blue option #2a348b */
    background-color: #469ad4;
    border: 1px solid #469ad4;
    border-radius: 3px;
    color: #eee;
    text-align: center;
}

.blueButton:hover {
    background-color: #eee;
    color: #469ad4;
    cursor: pointer;
}

.blueButton:disabled {
    background-color: #9cc;
    border: 1px solid #9cc;
    color: #ddd;
    cursor: default;
}


.runButton {
    width: 50px;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('./../../img/pyret-spin.gif') 50% 50% no-repeat rgb(249,249,249);
  background-size: 200px 200px;
}

#loader p {
  position: fixed;
  top: 20%;
  text-align: center;
  width: 100%;
}

#header {
  position: fixed;
  z-index: 9000;
  top: 0;
  width: 100%;
  height: 50px;
  background: url("./../../img/patch-logo.png") 0 0 no-repeat #2a348b;
  background-size: 150.15px 50px;
  padding-left: 200px;
}

#header div {
  width: 100px;
  margin-top: 15px;
  float: left;
  padding-right: 2em;
}

#header a {
  color: #eee;
  font-family: sans-serif;
}

#main {
  width: 100%;
  z-index: 5000;
  height: 100%;
  padding-top: 75px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#toolbar {
  position: fixed;
  z-index: 8000;
  top: 50px;
  height: 25px;
  width: 100%;
  background-color: #111;
}

#program-name-container {
  color: #eee;
  float: left;
  font-family: sans-serif;
}

#saveButton {
  float: left;
}

.rhs {
  float: right;
}

.replOutput {
  padding-top: 0;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  color: #1f1180;
}

.error-highlight {
  background-color: #FCC;
}

.compile-error {
  font-family: sans-serif;
  border: 1px solid #F33;
  border-radius: 1em;
  padding: 1em;
}

.compile-error:hover {
  background-color: #FCC;
}

.compile-error .code {
  font-family: monospace; 
}

.compile-error .srcloc {
  font-family: monospace; 
}

.topbar {
  position: fixed;
  width: 100%;
  background-color: #eee;
}
