/* custom.css */

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
  white-space: pre;
  font-family: Consolas, monospace;
}

.navbar {
  background-color: #eee;
}

img.navbar-logo {
  height: 2em;
}

img.title-logo {
  width: 80%;
  padding-bottom: 1em;
}

.navbar-nav {
  float: right !important;
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  color: #111 !important;
}

.popover-title {
  word-break: normal;
}

.info {
  background-color: #669;
  color: white;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

h1 {
  font-size: 24px;
}

div.carousel {
  height : 100%;
  min-height : 100%;
}

a.carousel-control.right {
  color : #111;
  background-color : transparent;
  background-image : none;
}

a.carousel-control.left {
  color : #111;
  background-color : transparent;
  background-image : none;
}

#main-carousel {
  min-width : 20em;
}

div.carousel-inner pre {
  min-width : 28em;
}

div.carousel-inner pre {
  margin-left : 3em;
  margin-right : 3em;
  height : 25em;
}

#content {

}

#content p {
  font-family : Georgia;
  font-size : 14pt;
}

#content ul {
  font-family : Georgia;
  font-size : 14pt;
}

#content ol {
  font-family : Georgia;
  font-size : 14pt;
}
