/* Don't need all Scribble CSS, e.g for page "apparatus" like table of
   contents, and so on. Mainly just need the classes from racket.css,
   for syntax highlighting. */

.SCodeFlow {
  display: block;
  background-color: #f5f5f5;          /* like Bootstrap */
  border: 1px solid rgba(0,0,0,0.15); /* like Boostrap */
  font-size: 13px;                    /* like Boostrap */
  padding: 9.5px;                     /* like Boostrap */
  margin-bottom: 1em;
  white-space: nowrap;
}

.SVInsetFlow {
  display: block;
  margin-left: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-top: 0em;
}

.SubFlow {
  display: block;
  margin: 0em;
}

.stt,
.RktIn, .RktRdr, .RktPn, .RktMeta,
.RktMod, .RktKw, .RktVar, .RktSym,
.RktRes, .RktOut, .RktCmt, .RktVal {
  font-family: monospace;
  white-space: inherit;
}

.RktIn {
  color: #cc6633;
  background-color: #eeeeee;
}

.RktInBG {
  background-color: #eeeeee;
}

.RktRdr {
}

.RktPn {
  color: #843c24;
}

.RktMeta {
  color: black;
}

.RktMod {
  color: black;
}

.RktOpt {
  color: black;
}

.RktKw {
  color: black;
  /* font-weight: bold; */
}

.RktErr {
  color: red;
  font-style: italic;
}

.RktVar {
  color: #262680;
  font-style: italic;
}

.RktSym {
  color: #262680;
}

.RktValLink {
  text-decoration: none;
  color: blue !important;
}

.RktModLink {
  text-decoration: none;
  color: blue !important;
}

.RktStxLink {
  text-decoration: none;
  color: black !important;
  /* font-weight: bold; */
}

.RktRes {
  color: #0000af;
}

.RktOut {
  color: #960096;
}

.RktCmt {
  color: #c2741f;
  font-style: italic;
}

.RktVal {
  color: #228b22;
}
